<!DOCTYPE html>
<html lang="en" >
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-M3QMV7SP');</script>
  <!-- End Google Tag Manager -->
  <meta charset="UTF-8">
  <title>Congratulations animation css</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/verified/style.css') }}">
<div class="con"><h1>Congratulations Your Email has been Verified..</h1></div>
<div class = "con" style="text-align: center; margin-top: 20px;">
    <button onclick="window.location.href='/login'" style="margin-top: 90px; padding: 10px 20px; font-size: 16px; cursor: pointer; background-color: #4CAF50; color: white; border: none; border-radius: 5px;">Go to Login</button>
  </div>
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M3QMV7SP"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
<!-- partial:index.partial.html -->
<div class="js-container container" style="top:0px !important;"></div>
<!-- partial -->
  <script src="{{ url_for('static', filename='css/verified/script.js') }}"></script>


</body>
</html>
