<!-- templates/auth/password_reset_email.html -->
Hi{% if user.get_full_name %} {{ user.get_full_name }}{% else %} {{ user.username }}{% endif %},

You requested a password reset for your NexMediaAI account.

Please click the link below to reset your password:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

This link will expire in 24 hours for security reasons.

If you didn't request this password reset, please ignore this email. Your account remains secure.

Best regards,
The NexMediaAI Team

---
This is an automated message, please do not reply to this email.